.car-card {
  border: 1.5px solid #0c0c0c;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 200px;
  background-color: #f8f8a5;
  box-shadow: 0 2px 4px rgba(202, 17, 17, 0.1);
  transition: transform 0.2s, background-color 0.3s;
  position: relative;
  cursor: pointer;
}

.car-card:hover {
  background-color: #85d0d7;
  transform: scale(1.01);
}

.car-card:active {
  transform: scale(0.95);
}

.car-card input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}